{% block body %}
<!DOCTYPE html>
<html>
<head>
</head>

<body style="font-family: Arial; font-size: 12px;">
<div>
    <p>
        Вы запросили сброс пароля, перейдите по ссылке ниже, чтобы сбросить пароль. Ссылка действительна в течение 24-х часов.
    </p>
    <p>
        Не обращайте внимания на это письмо, если вы не запрашивали смену пароля.
    </p>
    <p>
        <a href="{{ recover_url }}">
            Перейдите по этой ссылке, чтобы сбросить пароль.
        </a>
    </p>
</div>
</body>
</html>
{% endblock %}